<div class="tech-container">
  <div class="logo">
    <div class="edit-button-container">
      <app-edit-modal [mode]="mode" [technology]="technology" [indexes]="indexes" [nextIndex]="nextIndex"></app-edit-modal>
    </div>
    <ng-container *ngIf="technology.logos[0]">
      <div *ngFor="let logo of technology.logos;let i = index">
        <img
          (click)="deleteLogo(technology._id, i)"
          [src]="logo"
          alt="Logo {{ technology.name }}"
        />
      </div>
    </ng-container>
  </div>

  <div class="detail-container">
    <div class="tech-header">
      <div class="title">
        {{ technology.name | titlecase }}
      </div>
      <div class="progress-bar">
        <app-svg-viewer
          [svgSpecs]="{
            experience: technology.experience,
            expColor: technology.expColor
          }"
        ></app-svg-viewer>
      </div>
    </div>
    <div class="description">
      <p>
        {{ technology.description }}
      </p>
    </div>
  </div>


</div>


